{% extends 'user/base.html' %}
{% block title %}
Category Form
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


<div class="mt-5" style="display: flex;flex-direction: column;align-items: center;">

<form method="POST" novalidate class="w-25 p-3"
style="border: 1px solid rgba(0,0,0,0.5);
	   border-radius: 5px;
	   box-shadow: 4px 2px 10px 2px #888888;"
>
	<h1 class="text-primary">New Category</h1>
	{% csrf_token %}
	{{ category_form|crispy }}
	<input type="submit" value="ADD" class="btn btn-success">
</form>
</div>


<div style="display: flex;flex-direction: column;align-items: center;margin-top: 2em;"
>
	<div style="border: 1px solid rgba(0,0,0,0.5);
	   border-radius: 5px;
	   box-shadow: 4px 2px 10px 2px #888888;"
	   class="w-25 p-3" 
	>
		<h1 class="text-primary">Categories</h1>
		<table class="table">
			{% for category in categories %}
			<tr>
				
			{% include 'tickets/modal.html'%}

			</tr>
			{% endfor %}
		</table>
	</div>
	
</div>



{% endblock %}