{% extends 'user/base.html' %}
{% block title %}
Category Form
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex flex-column align-items-center">

{% if request.user.is_superuser %}


<div class="card p-3 m-2 w-50" style="border-radius: 20px;">
<form method="POST" novalidate>
	<h1 class="text-primary">New Category</h1>
	{% csrf_token %}
	{{ category_form|crispy }}
	<input type="submit" value="ADD" class="btn btn-success">
</form>
</div>

{% endif %}

	<div class="card p-3 m-2 w-50" style="border-radius: 20px;">
		<h1 class="text-primary">Categories</h1>
		<table class="table">
			{% for category in categories %}
			<tr>
			<td>
				<span class="text-primary" style="font-size: 1.2em;"><i class="fas fa-angle-right mr-1"></i>{{category.name}}</span></td>
			
			{% if request.user.is_superuser %}	
			{% include 'tickets/modal.html'%}
			{% endif %}

			</tr>
			{% endfor %}
		</table>
	</div>

</div>
{% endblock %}