<div class="mt-3">
{% for ticket in tickets %}
	<!-- For User Profile -->
	<div style="
		display: inline-flex;	
	" 
	>
		<div>
			<img src="{{ticket.user.profile.photo.url}}" alt="profile"
			width="50" height="50"
			class="border border-primary rounded-circle mr-3" 
			>
		</div>
		<div>
			<h5 style="color: blue;">{{ticket.name}}</h5>
			<p style="font-size: 0.8em;color: #7EA6E0;">{{ticket.updated}}</p>
		</div>
	</div>

	<!-- for Contents -->
	<a href="{% url 'ticket-detail' id=ticket.id %}"><h4 style="color: #7EA6E0">{{ticket.subject}}</h4></a>
	<p>{{ticket.description|truncatewords:30 }}</p>
	
	{% if ticket.status == 'Open' %}
		<div class="badge badge-danger rounded-pill">Open</div>
		{% include 'tickets/priority.html' %}
	{% elif ticket.status == 'Pending' %}
		<div  class="badge badge-info rounded-pill">Pending</div>
		{% include 'tickets/priority.html' %}
	{% else %}
		<div  class="badge badge-success rounded-pill">Closed</div>
		{% include 'tickets/priority.html' %}
	{% endif %}
	<hr>
{% endfor %}
</div>