{% extends 'user/base.html' %}
{% block title %}
Confirm Password
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card p-3 m-2">
		<h1>Set Your New Password</h1>
		{% if validlink %}
		<form method="POST" novalidate>
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" value="Login" class="btn btn-success">
		</form>
		{% else %}
		<p> Your Link is not valid or expire. Please try again</p>
		{% endif %}
	</div>
</div>
{% endblock %}