
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {% load static %}
  <a class="navbar-brand animate__animated animate__flipInX" href="{% url 'dashboard' %}">
    <img src="{% static 'pictures/logo1.jpg' %}" alt="Logo" width="75" height="75" class="border rounded-circle">
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item {{dashboard}}">
        <a class="nav-link" href="{% url 'dashboard'%}"><i class="fas fa-chart-line"> DASHBOARD</i><span class="sr-only">(current)</span></a>
      </li>

      {% if user.is_superuser or user.is_staff %}

        {% if user.is_superuser %}
        <li class="nav-item {{tech}}">
          <a class="nav-link" href="{% url 'tech-view' %}"><i class="fas fa-users-cog"> TECHNICIAN</i></a>
        </li>

        <li class="nav-item {{customer}}">
          <a class="nav-link" href="{% url 'customer-view' %}"><i class="fas fa-users"> CUSTOMERS</i></a>
        </li>

        {% endif %}
        
        <li class="nav-item {{category}}">
          <a class="nav-link" href="{% url 'new-category' %}"><i class="fas fa-stream"> CATEGORY</i></a>
        </li>

      
        <li class="nav-item {{nav_ticket}}"> 
          <a class="nav-link" href="{% url 'tickets' %}"><i class="fas fa-paste"> TICKETS</i></a>
          {% else %}
          <a class="nav-link" href="create">NEW TICKETS</a>
          <a class="nav-link" href="#">ABOUT US</a>
          {% endif %}
        </li>
    </ul>
  </div>




        <div class="btn-group">
            <button type="button" class="btn btn-primary border rounded-pill m-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </button>
            <div class="dropdown-menu bg-primary border">
              <a class="dropdown-item text-white border-bottom" href="{% url 'edit'%}"><i class="fas fa-user-circle mr-2"></i>Profile</a>
              <a class="dropdown-item text-white border-bottom" href="{% url 'password_change'%}"><i class="fas fa-lock-open mr-2"></i>Change Password</a>
              <a class="dropdown-item text-white" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
            </div>
          </div>

          <a href="{% url 'edit' %}">
          <img src = '{{user.profile.photo.url}}' class="rounded-circle border border-primary mr-5" style="width:70px; height:70px;">
          </a>
  
</nav>

{% if messages %}

<ul style="list-style-type:none; padding: 0px;margin: 2px;">
    {% for message in messages %}
    <li 
       class="bg-success text-white" style="padding: 2px;text-align: center;">
        {{ message }}
    </li>
    {% endfor %}
</ul>

{% endif %}


