{% extends 'user/base.html' %}

{% block title %}
Customer Register Form
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="card p-3 m-2 w-50">
<form method="POST" novalidate enctype="multipart/form-data">
	{% csrf_token %}
	<h1 class="text-primary">Register New Customer</h1>
	{{ customer_form|crispy }}
	{{ profile_form|crispy}}
	<input type="submit" value="Register" class="btn btn-success">
</form>
</div>
</div>
{% endblock %}